
body {
    font-family: "Roboto";
    width: 1480px;
    height: 1282px;
    left: calc(50% - 1480px/2);
    top: calc(50% - 1282px/2);
    background: rgba(0, 0, 0, 0.0001);
    padding: 63px 100px 30px;
}
    

.head {
    margin-bottom: 48px;
       
}
.head-logo {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 38px;
    }

.logo-color-black {
    color: black;
    }

.logo-color-blu {
    color: aqua;
    }

.head-logo a{
    text-decoration: none;
}

.head-Menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.head-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35444F;
    
}

.head-menu-item li{
    display: block;
    padding: 26px 38px 19px;
    border-left: 1px solid white;
}

.head-menu-item li:last-child {
    border-right:1px solid white ;
}

.head-menu-item li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.main-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

aside {
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 399px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin-right: 52px;
}

.main-wrap-aside-item {
    color: #485863;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    text-decoration: none;
    padding-left: 44px;
    width: 344px;
}

.main-wrap-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: ctnter;
}

.main-wrap-content-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 529px; 
    }

.main-wrap-content-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 37px;
    color: #2C2C2C;
}

.main-wrap-content-text p {
    margin-top: 37px;
}

.footer-menu {
    margin-top: 54px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    background-color: #0C1927;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);

}
.footer-menu-item { 
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    text-decoration: none;
}
.footer-menu-item:last-child {
    padding-left: 135px;
}

#WhyRamda:hover {
    padding-block: 27px;
    text-align: center;
    background-color: #DBDBDB;
}

#Ramda:hover {
    background-color:#222F3A; 
}

#Copyright {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin-left: 135px;
}
#WhyRamda-footer:hover {
    color:#3181A6;
    border-bottom: solid #3181A6 2px;
}

