body
{
font-family: 'Montserrat', sans-serif;
}

.header-nav {
    width: 100%;
    text-align: center;
}

.header-nav-item li{
    display: inline-block;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin: 25.5px 72px;
}

.header-nav-item a{
    color:#FF0000;
    text-decoration: none;
}

.image-section {
    margin-bottom: 48px;
}

.image-section img {
    width: 100%;
}

.content-section {
    max-width: 100%;
    text-align: center;
    font-size: 16px;
}

.content-section h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 38px;
}

.content-section p {
    max-width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    margin-left: 67.5px;
    margin-right: 67.5px;
    margin-bottom: 28px;
}

.button-section {
    text-align: center;
    margin-top: 66px;
    margin-bottom: 82px;
}

.button-section a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.button-section button {
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    
}

.footer-section {
    text-align: right;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-right: 105px;
}
