body
{
font-family: 'Montserrat', sans-serif;
}

.header-nav {
    width: 100%;
    text-align: center;
}

.header-nav-item li{
    display: inline-block;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.7px;
    padding: 25.5px 36px;

}

.header-nav-item a{
    color: red;
    text-decoration: none;
}

.image-section img {
    width: 100%;
}

.content-section {
    max-width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    
}

.content-section h1 {
    text-transform: uppercase
}

.content-section p {
    max-width: 100%;
    padding-left: 67.5px ;
    padding-right: 67.5px;
}

.button-section a{
    text-decoration: none;
}

.button-section button {
    width: 191px;
    height: 51px;
    background: red;
    text-transform: uppercase;
    
}

/* .headnav li{
    display: inline-block;
    text-align: center;
   
}
.headnav a {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: red;
}
 */
/* .h1 {
    font-family: 'Montserrat';
    text-transform: uppercase;
    
}
p {
    font-size: 16px;
    
} */
/* .headnav a{
    margin: 25px 36px;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 18px;
    color: red;
    text-decoration: none;
} */
/* .image {
    width: 1280px;
    height: 789px;
    
} */