body {
    font-family: Gilam, Arial, Helvetica, sans-serif;
    width: 1920px;
    background-image:image("./CSS/image/header-bg.jpeg");
}
.main-conteiner {
    background-color: #171717;
    height: 4000px;
    color: #FFFFFF;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 38px;
    padding-inline: 230px;
    padding-top: 37px;
}
.Header-logo {
    width: 216px;
    height: 33px;
} 
.header-phone {
    margin-left: 820px;
}
.phone-orenge {
    color:#D6AF76 ;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
}
.phone-white {
    color:#FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
}
.header-button {
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
    box-sizing: border-box;
    margin-left: 39px;
    text-align: center;
    padding-block: 10px;
    padding-left: 10px;
    line-height: 30px;
}
.header-button a {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
}
.heating-network h2 {
    margin-top: 128px;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}
.heating-network {
    padding-inline: 230px;
}
.heating-network> p {
    margin-top: 41px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.heating-network-grid {
    display: grid;
    gap: 27px 25px;
    margin-top: 41px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    grid-template-areas:  
    "heating-network-item1 heating-network-item1 heating-network-item2 heating-network-item2 heating-network-item3 heating-network-item3"
    "heating-network-item4 heating-network-item4 heating-network-item4 heating-network-item5 heating-network-item5 heating-network-item5"
}
.heating-network-item1 {
    grid-area: heating-network-item1;
    background-color: #634F2C;
    padding-block: 220px;
    width: 467px;
}
.heating-network-item2 {
    grid-area: heating-network-item2;
    background-color: #B4A385;
    padding-block: 206px;
    width: 467px;
}
.heating-network-item3 {
    grid-area: heating-network-item3;
    background-color: #E4B564;
    padding-block: 220px;
    width: 467px;
}
.heating-network-item4 {
    grid-area: heating-network-item4;
    background-color: #635A4A;
    padding-block: 220px;
}
.heating-network-item5 {
    grid-area: heating-network-item5;
    background-color: #B08C4D;
    padding-block: 220px;
}
.machinery-park {
    padding-inline: 230px;  
}
.machinery-park h2{
    margin-top: 161px;
    margin-bottom:94px ;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.item-opacity {
    opacity: 50%;
}
.machinery-park-grid {
    display: grid;
    gap: 26px 29px;
    text-align: start;
    grid-template-areas: 
    "mp-item1 mp-item2 mp-item3"
    "mp-item1 mp-item2 mp-item4"
    "mp-item5 mp-item2 mp-item4"
    "mp-item5 mp-item6 mp-item4"
    "mp-item5 mp-item6 mp-item7"
}
.machinery-park-grid p {
    margin-top: 44px;
    margin-left: 48px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}
.mp-item1 {
    grid-area: mp-item1;
    width: 467px;
    height: 313px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    background-color: #0E0E0E;
}
.mp-item2 {
    grid-area: mp-item2;
    width: 467px;
    height: 439px;
    font-weight: 400;
    font-size: 20px;
    background-color: #242424;
}
.mp-item3 {
    grid-area: mp-item3;
    width: 467px;
    height: 255px;
    background-color: #1F1F1F;;
}
.mp-item4 {
    grid-area: mp-item4;
    width: 467px;
    height: 313px;
    background-color: #0E0E0E;
}
.mp-item5 {
    grid-area: mp-item5;
    width: 467px;
    height: 560px;
    background-color:#1F1F1F; 
}
.mp-item6 {
    grid-area: mp-item6;
    width: 467px;
    height: 405px;  
    background-color: #E4B564;
    color: #000000;
}
.mp-item7 {
    grid-area: mp-item7;
    width: 467px;
    height: 277px;
    font-weight: 700;
    font-size: 20px;
    background-color: #0A0909;
}
.clients-projects {
    display: inline-block;
    width: 1920px;
    margin-top: 211px;
    background-color: #0E0E0E;
}
.clients-projects-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 230px;
    padding-top: 161px;  
}
.clients-projects-h h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: white;
}
.clients-projects-button {
    width: 180px;
    height: 50px;
    border: 1px solid #E4B564;
    box-sizing: border-box;
    text-align: center;
    line-height: 28px;
    padding-top: ;
    padding-block: 10px;
    padding-top: ;
}
.clients-projects-button a {
    text-decoration: none;
    color: #E4B564;
}
.clients-projects-grid {
    display: grid;
    justify-content: center;
    align-content: end;
    margin-top: 72px;
    grid-template-columns:487px 487px 487px ;
    grid-template-rows:391px 391px;
    grid-template-areas: 
    'cp-item1 cp-item2 cp-item3'
    'cp-item4 cp-item5 cp-item6'
}
.clients-projects-grid p {
    text-align: center;
}
.cp-item1,
.cp-item3,
.cp-item4,
.cp-item5,
.cp-item6 {
    padding: 171px 151px;
}
.cp-item1 {
    grid-area: cp-item1;
    background-color: #634F2C;; 
}

.cp-item2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    grid-area: cp-item2;
    background: rgba(232, 210, 171, 0.76);
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
}
.cp-item3 {
    grid-area: cp-item3;
    background: #E4B564;
}
.cp-item4 {
    grid-area: cp-item4;
    background: #635A4A;
}
.cp-item5 {
    grid-area: cp-item5;
    padding-left: 184px;
    background: #B08C4D;
}
.cp-item6 {
    grid-area: cp-item6;
    background: #634F2C;
}
